@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300&display=swap');

:root{
    --chel:ChelthmITC Bk BT;
    --dark-grey:#232223;
    --light-grey:#949494;
    --cream:#fffadd;
    --white:#ffffff;
    --secTitle:60px;
    --subSecTitle:45px;
}

.fusion-body .shortContainer .fusion-row{
    max-width:1366px!important
}
.fusion-body .shortContainer .fusion-row .fusion-column-wrapper{
    margin-left:0;
    margin-right:0;
}


.btn,
.btn.button-flat{
    padding:15px 45px!important;
    font-family:var(--chel);
    color:var(--dark-grey);
    font-size:18px;
    display:inline-block;
    line-height:normal;
    font-weight:normal;
    border:1px solid transparent;
    padding-bottom:17px!important;
    border-radius:0!important
}
.btn.btn-primary{
    background:var(--dark-grey);
    color:var(--cream);
    border-color:var(--dark-grey);
}
.btn.btn-primary:hover{
    color:var(--dark-grey);
    background:transparent;
}
.btn.btn-primary:hover span{
    color:var(--dark-grey);

}

.btn.btn-primary.white{
    background:var(--white);
    color:var(--dark-grey);
    border-color:var(--white)
}
.btn.btn-primary.white:hover{
    background:transparent;
    color:var(--white)
}
.btn.btn-primary.white.outline,
.btn.button-flat.btn-primary.white.outline{
    background:transparent!important;
    color:var(--white);
    border-color:var(--white)
}
.btn.button-flat.btn-primary.white.outline span{
    color:var(--white);
}
.btn.btn-primary.white.outline:hover,
.btn.button-flat.btn-primary.white.outline:hover{
    background:var(--white)!important;
    color:var(--dark-grey)!important;
}
.btn.button-flat.btn-primary.white.outline:hover span{
    color:var(--dark-grey);    
}


.btn.btn-primary.outline,
.btn.button-flat.btn-primary.outline{
    background:transparent;
    color:var(--dark-grey);
    border-color:var(--light-grey)
}
.btn.button-flat.btn-primary.outline span{
    color:var(--dark-grey);
}
.btn.btn-primary.outline:hover,
.btn.button-flat.btn-primary.outline:hover{
    background:var(--dark-grey);
    color:var(--dark-grey);
    color:var(--white);
    border-color:var(--dark-grey);
}
.btn.button-flat.btn-primary.outline:hover span{
    color:var(--white);
}
#main{
    padding-top:0!important
}



.heading .secTitle{
    margin-bottom:15px;
    font-size:var(--secTitle);
    color:var(--dark-grey);
}
.heading.white .secTitle{
    color:var(--cream)
}


nav.fusion-main-menu {
    overflow: unset!important;
}



/*==========Header==========*/    
.siteHeader{
    left:0;
    top:0;
}
.siteHeader .fusion-row{
    position: relative;
    height:130px;
}
.siteHeader .leftSide{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
}
.siteHeader .centerArea{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50% , -50%);
}
.siteHeader .centerArea .fusion-standard-logo{
    min-height:80px;
}
.siteHeader .rightSide{
    position: absolute;
    right:0;
    top:50%;
    transform:translateY(-50%);
}
.siteHeader .socialApplyNow .socialLinks{
    float:left;
    margin-top:5px;
}
.siteHeader .socialApplyNow .applyNowBtn{
    float:left;
    margin-left:30px;
}

.siteHeader .socialApplyNow .applyNowBtn .btn-primary{
    border-color:var(--cream);
}

.siteHeader .mainMenu ul.fusion-menu li.menu-item{
    margin-right:45px;
    overflow: unset;
    padding-right:0;
    padding-bottom:30px;
    margin-top:25px;
}
.siteHeader .mainMenu ul.fusion-menu li.menu-item a{
    height:auto;
    color:var(--cream);
    font-family:Circular Std Book;
    border:none;
}
.siteHeader .btn.btn-primary{
    background:var(--cream)
}
.siteHeader .btn.btn-primary:hover{
    border-color:var(--cream);
    color:var(--cream)
}

#main{
    padding-bottom:0!important
}

.siteHeader .mainMenu ul.fusion-menu li.menu-item .sub-menu{
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    border:none;
    top: 40px;
    padding:15px 0;
}
.siteHeader .mainMenu ul.fusion-menu li.menu-item .sub-menu::before{
    content:'';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid var(--white);
    position: absolute;
    top:-8px;
    left:50%;
    transform:translateX(-50%);
}
.siteHeader .mainMenu ul.fusion-menu li.menu-item .sub-menu li.menu-item{
    padding-right:0;
    float:left;
    width:100%;
    margin-right:0;
    margin-top:0;
    padding-bottom:0;
}
.siteHeader .mainMenu ul.fusion-menu li.menu-item .sub-menu li.menu-item a{
    color: var(--light-grey);
    padding: 5px 20px;
}
.siteHeader .mainMenu ul.fusion-menu li.menu-item .sub-menu li.menu-item a:hover{
    background:none;
    color:var(--dark-grey);
}


body.logged-in .siteHeader{
    margin-top:32px;
}

/*==========Home==========*/
.heroBanner{
    height:750px;
}
.heroBanner .fusion-layout-column{
    position: absolute;
    bottom:80px;
}
.heroBanner .fusion-text h2{
    font-size:45px!important;
    font-family:var(--chel);
    color:var(--white);
    font-weight:normal;
    margin-bottom:15px;
    position: relative;
}
.heroBanner .fusion-text h2::before{
    content:'';
    position: absolute;
    width:450px;
    left:-460px;
    height: 1px;
    background:var(--cream);
    top:50%;
    transform:translateY(-50%);
}
.heroBanner .fusion-text h2 i::before{
    font-size:40px;
}
.heroBanner .fusion-text{
    color:var(--cream)
}
.heroBanner .fusion-text h2 i {
    font-size:0;
}


.heroBanner.internalBanner{
    max-height:500px;
}

.heroBanner.internalBanner .fusion-layout-column{
    bottom:80px;
}
.heroBanner.internalBanner .fusion-text p{
    margin-bottom:0;
}

.videoArea{
    min-height:500px;
    padding-top:130px!important;
}
.videoArea .fusion-text{
    color:var(--white);
}
.videoCategories{
    transform: translateY(-180px);
    position: relative;;
    z-index: 99;
}
.videoCategories .snglVideoCate .fusion-column-wrapper{
    margin-left:0;
    margin-right:0;
    border-radius:5px;
    overflow: hidden;
    position: relative;
}
.fusion-body .videoCategories .fusion-row{
    width:100%!important;
    max-width:none!important;
    padding-left:65px!important;
    padding-right:65px!important;
}
.fusion-body .videoCategories .snglVideoCate{
    padding-left:5px;
    padding-right:5px;
    width:100%!important;
    margin-bottom:0;
}
.videoCategories .snglVideoCate .fusion-text{
    position: absolute;
    left:0;
    bottom:0;
    width:100%;
    z-index: 99;
    padding:15px 25px;
    color:var(--white);
    
}
.videoCategories .snglVideoCate .fusion-text p{
    margin-bottom:0;
    font-size:14px;
    opacity: 0.8;
    line-height:1.6em;
}
.videoCategories .snglVideoCate .fusion-text h3{
    color:var(--white);
    font-size:25px;
    margin-bottom:10px;;
}
.videoCategories .snglVideoCate .fusion-text h3::before{
    content:"\f144";
    font-family:"Font Awesome 5 Pro";
    font-weight:900;
    font-size:23px;
    margin-right:10px;
}
.videoCategories .snglVideoCate .fusion-imageframe{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.videoCategories .snglVideoCate:hover .fusion-imageframe{
    transform: scale(1.1);
}

.videoCategories.mobile{
    display:none!important
}

.fusion-body .videoCategories .slick-slider button.slick-arrow{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    width:60px;
    height:60px;
    border-radius:100%;
    border:none;
    padding:0;
    z-index: 999;
    font-size:0;
    cursor:pointer;
}

.fusion-body .videoCategories .slick-slider button.slick-next{        
    left:auto;
    right:20px;
}

.fusion-body .videoCategories .slick-slider button.slick-next.slick-disabled{
    display:none!important;
}

.fusion-body .videoCategories .slick-slider button.slick-prev{        
    left:20px;
}

.fusion-body .videoCategories .slick-slider button.slick-prev.slick-disabled{        
    left:20px;
    display:none!important;

}

.fusion-body .videoCategories .slick-slider button.slick-next::before,
.fusion-body .videoCategories .slick-slider button.slick-prev::before{
    font-size:22px;
    color:var(--dark-grey);
}

.fusion-body .videoCategories .slick-slider button.slick-next::before{
    content:"\f178";
    font-family:"Font Awesome 5 Pro";
    font-weight:300;
}
.fusion-body .videoCategories .slick-slider button.slick-prev::before{
    content:"\f177";
    font-family:"Font Awesome 5 Pro";
    font-weight:300;
}


.aboutSection{
    margin-top:-50px!important;
    margin-bottom:120px!important;
}
.aboutSection .fusion-row{
    flex-direction: row-reverse;
    flex-wrap:wrap;
    align-items: unset;
}
.aboutSection.chnaged .fusion-row{
    flex-direction: inherit;
}

.aboutSection .entryContent{
    padding-right:120px;
}
.aboutSection.chnaged .entryContent{
    padding-right:0px!important;
    padding-left: 120px;
}
.aboutSection .rightSide .fusion-column-wrapper{
    justify-content: center;
}
.aboutSection .btnArea{
    margin-top:35px;
}
.aboutSection .btn{
    border-width:2px;
}

.cateIcons{
    padding-top:100px!important;
    text-align: center;
    padding-bottom:210px!important;

}
.fusion-body .cateIcons .fusion-row{
    max-width:1080px!important;
}
.fusion-body .cateIcons .heading{
    margin-bottom:50px;
}
.fusion-body .cateIcons .fusion-column-wrapper{
    margin-left:0;
    margin-right:0;
}
.fusion-body .cateIcons .fusion-imageframe{
    width:100%;
}
.fusion-body .cateIcons .fusion-imageframe img{
    max-width:70px;
}
.fusion-body .cateIcons .entryContent {
    text-align: center;
}
.fusion-body .cateIcons .fusion-text p{
    margin-top:15px;
    color:#b2b2b2;
    font-size:18px;
}


.fusion-body .fusion-footer{
    position: absolute;
    left:50%;
    transform: translateX(-50%);
    bottom:50px;
    z-index: 9999;
    max-width:950px;
    width: 100%;
    padding-top:40px;
    border-top:1px solid rgba(215, 215, 217, 0.15);
}
.fusion-body .fusion-footer .fusion-footer-copyright-area{
    background:transparent!important;
}

.fusion-body .fusion-footer-copyright-center .fusion-copyright-notice{
    font-size:14px;
}

/*===============Services=============*/
.videoPart{
    padding-top:120px!important;
    padding-bottom:120px!important;
}
.videoPart .fusion-video{
    max-width:none!important;
    width:100%;
    max-height:none!important;
    margin-bottom:50px;
}

.videoPart .fusion-layout-column{
    margin-bottom:0!important;
    
}

.fusion-body .videoPart.shortContainer .fusion-row{
    max-width:1024px!important
}

.videoPart .btnArea{
    padding:0 20px!important;
    text-align: center!important;  
}
.videoPart .btnArea.leftSide{
    text-align: center;
    margin-bottom: 45px !important;
}
.videoPart .btnArea .fusion-button{
    width:350px;
    padding-top:20px!important;
    padding-bottom:20px!important;
    font-size:25px!important
}

/*=============Contact============*/

.contFomArea{
    padding-top:120px!important;
    padding-bottom:120px!important;
}
.fusion-body .contFomArea .fusion-row{
    max-width:950px!important;
}

.row{
    margin-left:-15px;
    margin-right:-15px;
}
.col-6{
    float:left;
    width:50%;
    padding-left:15px;
    padding-right:15px;
    margin:20px 0;
    position: relative;
}
.col-12{
    padding-left:15px;
    padding-right:15px;
    margin:15px 0;
    position: relative;
}

.contFomArea .wpcf7-form br{
    display:none;
}

.contFomArea .wpcf7-text,
.contFomArea .wpcf7-textarea{
    height:70px;
    border-color:var(--light-grey);
    font-size:25px;
    font-weight:bold;
    color:var(--dark-grey);    
}

.contFomArea .wpcf7-textarea{
    min-height:180px;
    resize:none;
}
.contFomArea label.label{
    font-size: 16px;
    color: var(--light-grey);
    letter-spacing: normal;
    position: absolute;
    left: 27px;
    padding: 0px 6px;
    background: var(--white);
    top: -10px;
    z-index: 99;
    line-height: normal;
}

.contFomArea .wpcf7-form p{
    display:none;
}

.contFomArea .submit{
    text-align: center;
}
.contFomArea .submit .wpcf7-spinner{
    display:block;
    margin:auto;
    margin-top:15px;
    position: absolute;
    left:50%;
    transform:translateX(-50%);
    bottom:-50px;
}
.contFomArea .submit input.btn.btn-primary{
    background:var(--dark-grey);
    color:var(--white);
    font-size:25px;
    padding:15px 35px;
    min-width:220px;
}
.qsm-before-message.mlw_qmn_message_before p {
  font-family: var(--h2_typography-font-family);
  font-weight: var(--h2_typography-font-weight);
  line-height: var(--h2_typography-line-height);
  letter-spacing: var(--h2_typography-letter-spacing);
  font-style: var(--h2_typography-font-style,normal);
font-size: var(--subSecTitle);
color: var(--dark-grey);
}

/*.massageQuiz{max-width: 750px; margin: 0 auto;}*/
.massageQuiz .qsm-page .quiz_begin{width: 100%;}
.massageQuiz .qsm-page .qsm-question-wrapper,
.fusion-text .qsm-results-page .qmn_question_answer.qsm-add-border-bottom {
  width: calc(100% - 400px);
  border-bottom: 1px solid #eee;
  padding-left:0!important;
  padding-right:0!important;
}
.massageQuiz .qsm-page .qsm-question-wrapper:last-child{
    border-bottom:none
}

.massageQuiz .qsm-page .quiz_begin{
    padding-left:0!important;
    padding-right:0!important;
}
.qsm-before-message.mlw_qmn_message_before p{
    font-size:45px!important
}   

/*.quiz_section:nth-child(even){background: #fffadd8f;}*/
.quiz_section{padding: 30px!important;}
.quiz_section input[type="text"].qmn_fill_blank{min-width: 100%;}
/*.qsm-page {
  border: 1px solid #fffadd;
}*/
.fusion-text  input.qsm-btn.qsm-submit-btn.qmn_btn,
.fusion-text .qmn_results_page input[type="submit"]{padding:15px 45px!important;
    font-family:var(--chel);
    color:#fff;
    font-size:18px!important;
    display:inline-block;
    line-height:normal;
    font-weight:normal;
    border:1px solid transparent;
    padding-bottom:17px;
    border-radius:0;
background: var(--dark-grey)!important;
cursor:pointer;
}
.fusion-body .videoPart.shortContainer.quizz .fusion-row {
  max-width: 1366px !important;
}
.quiz_section .mlw_qmn_new_question{font-family: var(--h2_typography-font-family);
font-size: 1.3em;}


.fusion-text .quiz_section.quiz_begin .qsm-before-message,
.fusion-text .quiz_section.quiz_begin .qsm-before-message p{
    padding:0;
    margin:0;
    border:none;
}
.quiz_section .mlw_qmn_question.qsm_remove_bold{
    margin-bottom:25px;
}
.fusion-text .quiz_section .mlw_qmn_new_question,
.fusion-text .qmn_question_answer .mlw_qmn_question.qsm_remove_bold b{
    font-size:25px;
    display:block;
    margin-bottom:20px;
    font-family:var(--awb-typography1-font-family);
    color:var(--h2_typography-color)      
}
.fusion-text .quiz_section .qsm-input-label,
.fusion-text .mlw_qmn_question .qsm-text-simple-option,
.fusion-text .mlw_qmn_question .qsm-text-correct-option,
.fusion-text .mlw_qmn_question .qsm-text-wrong-option{
    font-size:18px;
}
.fusion-text .quiz_section .qmn_mc_answer_wrap,
.fusion-text .quiz_section .qsm_check_answer{
    position: relative;    
}
.fusion-text .quiz_section .qmn_mc_answer_wrap input.qmn_quiz_radio,
.fusion-text .quiz_section .qmn_check_answers input[type="checkbox"]{
    position: absolute;
    left:0;
    top:5px;
    width:22px;
    height:22px;
    padding:0;
    margin:0;
    opacity: 0;    
}
.fusion-text .quiz_section .qmn_mc_answer_wrap .qsm-input-label,
.fusion-text .quiz_section .qmn_check_answers .qsm-input-label{
    padding-left:30px;
    display:block;
}
.fusion-text .quiz_section .qmn_mc_answer_wrap .qsm-input-label::before{
    content:'';
    position: absolute;
    left:0;
    top:5px;
    width:15px;
    height:15px;
    background:var(--light-grey);
    border:3px solid var(--light-grey);
    border-radius:100px;
    opacity: 0.5;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.fusion-text .quiz_section .qmn_mc_answer_wrap .qsm-input-label::after{
    content:'';
    position: absolute;
    left:0;
    top:5px;
    width:15px;
    height:15px;
    background:var(--light-grey);
    border:3px solid var(--light-grey);
    border-radius:100px;    
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    transform:scale(0);
}

.fusion-text .quiz_section .qmn_mc_answer_wrap input.qmn_quiz_radio:checked + .qsm-input-label::after{
    transform:scale(0.5);
    background:var(--dark-grey);
    border-color:var(--dark-grey);  
}
.fusion-text .quiz_section .qmn_mc_answer_wrap input.qmn_quiz_radio:checked + .qsm-input-label::before{
    background:none;
    opacity: 1;
    border-color: var(--dark-grey);    
}
.fusion-text .quiz_section .qmn_mc_answer_wrap input.qmn_quiz_radio:checked + .qsm-input-label{
    color:var(--dark-grey);
}
.fusion-text .quiz_section .qmn_mc_answer_wrap,
.fusion-text .quiz_section .qsm_check_answer{
    margin-top:10px;
    margin-bottom:10px;
}

.fusion-text .quiz_section .qsm_check_answer .qsm-input-label::before{
    content:'';
    position: absolute;
    left:0;
    top:6px;
    width:18px;
    height:18px;
    background:var(--light-grey);        
    opacity: 0.5;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    border-radius:3px;
}
.fusion-text .quiz_section .qsm_check_answer .qsm-input-label::after{
    content:"\f00c";
    position: absolute;
    left:0;
    top:6px;
    width:18px;
    height:18px;
    background:var(--dark-grey);         
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
    font-family:"Font Awesome 5 Pro";
    font-size:14px;
    color:#fff;
    font-weight:400;
    display:flex;
    align-items: center;
    justify-content: center;
    transform:scale(0)
}

.fusion-text .quiz_section .qmn_check_answers input[type="checkbox"]:checked + .qsm-input-label::after{
    transform: scale(1);
    border-radius:3px;
}
.fusion-text .quiz_section .qmn_check_answers input[type="checkbox"]:checked + .qsm-input-label{
    color:var(--dark-grey)
}
.fusion-text .quiz_section .mlw_horizontal_choice{
    position: relative;
    display:inline-block;
}
.fusion-text .quiz_section .mlw_horizontal_choice input.qmn_quiz_radio{
    position: absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    opacity: 0;
    margin:0;
    padding:0;
    z-index: -1;
}
.fusion-text .quiz_section .mlw_horizontal_choice label.qsm-input-label{
    padding:10px 28px;
    background:rgba(0,0,0,0.1);
    border-radius:3px;
    cursor: pointer;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    transition: all 0.1s ease;
}
.fusion-text .quiz_section .mlw_horizontal_choice input.qmn_quiz_radio:checked + label.qsm-input-label{
    background:var(--dark-grey);
    color:#fff;    
}

.fusion-text .qsm-pagination{
    border:none;
    justify-content: start;
}

.fusion-text .qmn_radio_answers.qmn_radio_horizontal_answers {
    margin-bottom:15px;
}

.fusion-text input.qsm-btn.qsm-submit-btn.qmn_btn{
    cursor:pointer;
}

/*==========After Result==========*/

.fusion-text .qsm-results-page h2{
    margin-bottom:15px;
}

.fusion-text .qmn_results_page h2{
    font-size:45px!important;
}
.page-id-292 #siteHeader , .page-id-292 .fusion-footer {
  display: none;
}
.page-id-301 #siteHeader , .page-id-301 .fusion-footer {
  display: none; 
}
.page-id-371 #siteHeader , .page-id-371 .fusion-footer {
  display: none; 
}